@tailwind base;
@tailwind components;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #cd5c86;
  /* background: rgb(43, 41, 41); */
}

#stripe {
  /* stroke-dashoffset: 2696; */
}

@keyframes drawLine {
  0% {
    border-width: 0;
    width: 0;
  }
  100% {
    border-width: 1px;
    width: 100%;
  }
}
.animate-drawLine {
  border-width: 0;
}
.animate-drawLine {
  animation: drawLine 1s ease-out 0.5s forwards;
}

/* custom scrollbar */
.custom-scrollbar {
  scrollbar-width: thin;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1f1f1f;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #cbd5e0;
  border-radius: 4px;
}

.line-wrapper {
  overflow: hidden;
}

.project-pin {
  pointer-events: fill;
}
.project-pin:hover {
  cursor: pointer;
  opacity: 1 !important;
}
.project-pin:hover path {
  cursor: pointer;
  fill: #1f1f1f;
}
.project-pin:hover line {
  stroke: #b7b7b7;
}
.opacity-pin {
  opacity: 0.3 !important;
}
.pointer-events-fill {
  pointer-events: fill;
}

/* font sizes */
.text-h1 {
  @apply text-5xl lg:text-6xl font-medium;
}
.text-h2 {
  @apply text-base lg:text-lg leading-6 font-semibold italic;
}
.text-h3 {
  @apply text-4xl font-medium italic;
}
.text-p {
  @apply text-sm lg:text-base leading-5 font-medium;
}
.max-width-desktop {
  max-width: 1300px;
  margin: 0 auto;
}

@tailwind utilities;
